# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# DATABASE_URL: PostgreSQL connection string from NeonDb
DATABASE_URL="postgresql://neondb_owner:npg_sjWzobStH3q6@ep-polished-frog-apig4e9f-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
